* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: whitesmoke;
  text-align: center;
}

.container {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template:
    "nav nav nav nav nav" 50px
    ".   profile main right-menu    ." 1fr
    ".   profile main right-menu    ." 1fr
    ".   recent  main right-menu     ." 1fr
    ".   recent  main right-menu     ." 1fr
    ".    .      main footer        ." /
    auto 200px 400px 300px auto;

  grid-gap: 20px;
}

.container {
  grid-area: container;
}

/* NAV BAR */
.nav {
  grid-area: nav;
  background-color: #0072b1;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr auto;
}

.nav-list li {
  display: inline-block;
  border: 1px solid white;
}

/* MINI PROFILE */
.profile {
  grid-area: profile;
  background-color: #4a24d6;

  display: grid;
}

.profile-pic,
.profile-views,
.post-views,
.premium-ad,
.my-items {
  border: solid black 1px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;

  align-self: center;
  justify-self: center;
}

/* RIGHT MENU */
.right-menu {
  grid-area: right-menu;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 300px);

  grid-gap: 6px;
  overflow: visible;
}

.recent,
.news,
.most-viewed,
.advert,
.add-to-your-feed,
.footer {
  border-radius: 10px;
}

.main {
  grid-area: main;
  background-color: #b37ba4;
}

.recent {
  background-color: #ed34cb;
}
.news {
  background-color: #f7b42a;
}
.most-viewed {
  background-color: #d64e24;
}
.advert {
  background-color: #dccde8;
}
.add-to-your-feed {
  background-color: #420039;
}

.footer {
  background-color: #0d0628;
}
